<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mx-4" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
            </div>
        </div>

        <div class="form-inline my-2 my-lg-0">
            @{
                if (Session["is_login"] is false || Session["is_login"] is null)
                {
                    <button class="btn btn-outline-success my-2 mx-2 my-sm-0" type="submit">
                        @Html.ActionLink("Login", "LogIn", "Home", new { area = "" }, new { @class = "nav-link" })
                    </button>
                    <button class="btn btn-outline-success my-2 mx-3 my-sm-0" type="submit">
                        @Html.ActionLink("Sign Up", "LogIn", "Home", new { area = "" }, new { @class = "nav-link" })
                    </button> }
                else
                { <ul class="navbar-nav flex-grow-1">
                      <li>@Html.ActionLink(" ", "Index", "Home", new { area = "" }, new { @class = "nav-link" }) @Session["Name"]</li>

                       <li>
                            <button class="btn btn-outline-success my-2 mx-3 my-sm-0" type="submit">
                                @Html.ActionLink("Log Out", "Logout", "Home", new { area = "" }, new { @class = "nav-link" })
                            </button>
                       </li>
                   </ul>
                }

            }

        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
