@model IEnumerable<Task4.Models.PRODUCT>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.product_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.poduct_quanity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.product_image)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.product_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.poduct_quanity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.product_price)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.product_image)*@

            <img src="@Url.Content(item.product_image)" width="80" height="80" alt="Alternate Text" />  
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.product_id }) |
            @Html.ActionLink("Details", "Details", new { id = item.product_id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.product_id })
            @Html.ActionLink("Omar", "Create", new { id = item.product_id })

        </td>
    </tr>
}

</table>
