
@{
    ViewBag.Title = "ShowInformation";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>First Name: @ViewBag.FirstName</h2>

<h2>Last Name: @ViewBag.LastName</h2>

<h2>Email: @ViewBag.Email</h2>

<h2>City: @ViewBag.City</h2>

<h2>Feedback: @ViewBag.Feedback</h2>